body {
    background-color: #f0f4f4;
    margin: 0;
    padding: 0;
  }

  .nav-link {
    color: white;
  }

  .column1-row {
    margin-top: 80px;

  }

  .column1{
    border: none;
  }

.button1:hoveSr{
  background-color: #85144b;
}
.abc
{
  padding-top: 7px;
  font-size: 18px;
}
.abc1
{
  size: 10px;
}
.tb1:hoveSr{
  background-color:#85144b;
}